<p id="alert"><%= alert %></p>

<h1>Login</h1>

<%= form_with url: sessions_path, local: true do |form| %>
 <div class="field">
   <%= label_tag :email %>
   <%= text_field_tag :email %>
 </div>
 <div data-controller="password-visibility" class="field">
   <%= label_tag :password %>
   <%= password_field_tag :password, '',
       data: { target: 'password-visibility.input' } %>
   <label for="show-password">
     <input data-target="password-visibility.checkbox"
            data-action="password-visibility#update"
            type="checkbox" id="show-password">
     パスワードを表示する
   </label>
 </div>
 <div class="actions">
   <%= submit_tag "Login" %>
 </div>
<% end %>
